# Node modules folder
node_modules/

# iOS Pods
ios/Pods/

# Android build folders
android/.gradle/
android/app/build/

# iOS build folders
ios/build/

# Environment variables file
.env

# Keystore files
*.keystore
